<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.diagnostics>
    <sources>
      <source name="TraceTest"
              switchName ="sourceSwitch"
              switchType ="System.Diagnostic.SourceSwitch">
        <listeners>
          <add name="console"
               type ="System.Diagnostic.SourceSwitch">
            <filter type="System.Diagnostic.EventFilter"
                    initializeData="Error"/>
          </add>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="sourceSwitch"
           value="Error"/>
    </switches>
    <sharedListeners>
      <add name="myListener"
           type="System.Diagnostic.TextWriterTracerListener"
           initializeData="listener.log">
        <filter type="System.Diagnostic.EventTypeFilter"
                initializeData="Error"/>
      </add>
    </sharedListeners>
  </system.diagnostics>
</configuration>